body { 
    text-align: center;
    background-color: #EEEEEE; 
}
h2 { 
    color: #D84040; 
}
button { 
    padding: 10px 20px; 
    background-color: #8E1616; 
    font-size: 15px;
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 

}




