body { 
    text-align: center;
    background-color: #EEEEEE; 
}
h1 {
    color: #1D1616;
}
h2 { 
    color: #D84040; 
}
button { 
    padding: 10px 20px; 
    background-color: #8E1616; 
    font-size: 15px;
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 

}
footer{
  border: none;
  padding: 10px;
  width: 1400px;
  height: 100px;
  text-align: center;
  margin: auto;
}





