body { 
    text-align: center;
    background-color: #eef; 
}
h2 { 
    color: lightblue; 
}
button { 
    padding: 10px 20px; 
    background-color: blue; 
    font-size: 15px;
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 

}


